@font-face {
    font-family: "Codec Pro Extrabold";
    src: url('https://freefonts.co/fonts/codec-pro-extrabold');
}

@font-face {
    font-family: 'Codec Pro Regular';
    src: url('https://freefonts.co/fonts/codec-pro-regular');
}

* {
    background-color: #94c1a3;
}

.capa button, .capa {
    font-family: 'Codec Pro Extrabold';
}

.capa header {
    font-size: 22px;
}

.capa h1 {
    font-size: 65px;
}

.titulos {
    font-family: 'Codec Pro Extrabold';
    font-size: 48px;
}

.paragrafos {
    font-family: 'Codec Pro Regular';
    font-size: 18px;
}

